body {
  background-image: url("../images/fullBackground.jpg");
  background-size: cover;
}

#trivia-sec {
  /* background-image: url(../images/9bBtvR.jpg);
  background-size: cover; */
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
  height: 800px;
}

img {
  opacity: 0.8;
  width: 60%;
  position: absolute;
  height: auto;
}

.title {
  position: relative;
  text-align: center;
  font-size: 36px;
  color: silver;
  padding: 10px;
}

.question {
  position: relative;
  text-align: center;
  font-size: 36px;
  color: silver;
  padding: 10px;
}

#starter {
  margin-left: 25%;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  font-size: 24px;
  color: black;
  padding: 10px;
  width: 50%;
}

.timer {
  position: relative;
  font-size: 36px;
  color: silver;
  padding: 10px;
  text-align: center;
}

.choices {
  margin-left: 4%;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  font-size: 24px;
  color: black;
  padding: 10px;
  width: 50%;
}

.answerChoice {
  font-size: 36px;
  color: silver;
  padding: 10px;
  text-align: center;
}

.answerDiv {
  position: relative;
  text-align: center;
  font-size: 36px;
  color: silver;
  padding: 10px;
}

#reset {
  margin-left: 25%;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  font-size: 24px;
  color: black;
  padding: 10px;
  width: 50%;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

button:hover {
  background-color: #2140f0;
  color: white;
}
